@import '../variables';

%tile {
  display: flex;
  width: 700px;
  height: 800px;
  background: white;
  z-index: 10;
  border-radius: $border-radius;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  align-items: center;
  flex-direction: column;
}

.qr-reader {
  width: 100vw;

  h1,
  h2 {
    font-weight: inherit;
  }

  .bg-image {
    position: fixed;
    width: 60%;
    left: -50px;
    opacity: 0.7;
  }

  .tile-container {
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: space-around;
    align-items: center;

    .scanner-tile {
      @extend %tile;

      .scan-qr-text {
        margin: 120px 0 120px;
        font-weight: inherit;
      }
      .scanner-container {
        width: 300px;
        height: 300px;
        border-radius: $border-radius;
        box-shadow: 0 2px 20px 20px rgba(0, 0, 0, 0.2);

        .scanner-canvas {
          border-radius: $border-radius;
        }
      }
    }

    .attendee-tile {
      @extend %tile;
      justify-content: center;
      align-content: center;
    }

    .scanner-tile {
      display: flex;
      width: 700px;
      height: 800px;
      background: white;
      z-index: 10;
      border-radius: $border-radius;
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
      align-items: center;
      flex-direction: column;

      .scan-qr-text {
        margin: 120px 0 120px;
        font-weight: inherit;
      }
      .scanner-container {
        width: 300px;
        height: 300px;
        border-radius: $border-radius;
        box-shadow: 0 2px 20px 20px rgba(0, 0, 0, 0.2);
      }
    }
  }
}
