@import "./variables";

.App {
  text-align: center;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(45deg, #1c2160, #3842c1);
}

.background-cut {
  position: fixed;
  background: white;
  height: 58vh;
  width: 100vw;
  z-index: 4;
  bottom: -300px;
  transform: skewY(-10deg);
}
